body{
	font-family: Arial;
	margin: 0;
}
.chetr{
	width: 400px;
	height: 200px;
	background: green;
	text-align: center;
	color: purple;
	font-size: 30px
}
.btn{
	border-radius: 50px;
	width: 100px;
	height: 50px;
	background: blue;
	border: 1px solid red;
	box-shadow: 0 0 60px black;
	color: white;
	left: 44px;
	position: absolute;
	top: 240px;
}
.block{
	display: flex;
}
.box{
	width: 200px;
	height: 1000px;
	border: 2px solid black;
	box-sizing: border-box;
	padding: 30px
}
.text{
	width: 1600px;
	height: 996px;
	border: 2px solid black;
	background-size: 100% 100%;
}
.blue{
	background-image: url(tut.jpg);
	background-size: 100% 100%
}
.red{
	background: red;
}
.yellow{
	background-image: url(GIGI.jpg);
	background-size: 100% 100%;
}
.pink{
	background-image: url(cha.jpg);
	background-size: 100% 100%;
}
.but{
	width: 120px;
	height: 60px;
	border: 2px solid black;
}
.gagarin{
	width: 200px;
	height: 200px;
	background: green;
	text-align: center;
	color: black;
	font-size: 30px;
	transition: 1s;
	border: 2px solid black;
	border-radius: 100px;
	background-size: 100% 100%;
}
.gagarin2{
	width: 200px;
	height: 200px;
	background-image: url(shagi.png);
	background-size: 100% 100%;
	margin: 300px 800px;
	border: none;

}
.yellow2{
	background-image: url(heat.jpg);
	background-size: 100% 100%
}
.far{
	position: absolute;
	top: 200px;
	left: 10px;
	font-size: 40px;
	font-family: Arial;

}
.far2{
	position: absolute;
	top: 200px;
	left: 310px;
	font-size: 40px;
	font-family: Arial;

}
.far3{
	position: absolute;
	top: 200px;
	left: 610px;
	font-size: 40px;
	font-family: Arial;

}
.gigi{
	width: 700px;
	height: 500px;
	display: none;
	margin-left: 500px;
	margin-top: 100px;
	border: 2px solid black
}
.text2{
	font-size: 40px;
	font-family: Arial;
	text-align: center;

}
.btn2{
	border-radius: 50px;
	width: 400px;
	height: 100px;
	background: blue;
	border: 1px solid red;
	box-shadow: 0 0 60px black;
	color: white;
	font-size: 50px;
}
.btn4{
	height: 150px;
}
.text22{
	font-size: 40px;

}
.red2{
	background-image: url(rub.jpg);
	background-size: 100% 100%
}
.red3{
	background-image: url(main.jpg);
	background-size: 100% 100%
}
.gg10{
	background-image: url(shagi2.jpg);
	background-size: 100% 100%
}
.play{
	background-image: url(lay.png);
	background-size: 100% 100%
}
.glav{
	background-image: url(gl.jpg);
	background-size: 100% 100%
}
